.table-protect-servers tr {
    cursor: default;
}
.article-img {
    max-width: 80% !important;
}
@media all and (max-width: 768px) {
    .article-img {
        max-width: 100% !important;
    }
}
.footer .list-item .title {
    text-transform: uppercase;
}
@media all and (max-width: 768px) {
    .footer .list-item .subtitle {
        font-size: 14px;
        margin-top: 0;
        padding: 8px 0;
    }
}
h2.no-margin {
    margin: 0 !important;
}
.perf-scale {
    width: 126px;
    height: 9px;
    background: url("/img/scale.png") repeat-x;
    position: relative;
}
.perf-scale .active {
    display: block;
    height: 9px;
    width: 0;
    background: url("/img/scale-active.png") repeat-x;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

/* Custom CSS */
/* Base */
.c-flex-1 {
    flex: 1 1 0%;
}

/* Header */
.header .info {
    padding: 12px;
    border-radius: 4px;
}

.header__nav-dropdown a:hover {
    text-decoration: none;
}

.header .header__nav-dropdown {
    padding: 30px 0 14px;
}

.header .info h5 {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #1D1F24;
}

.header .info p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #696A6E;
}

.header .info:hover {
    background-color: #D4E9F7;
}

/* Responsive */
/* Header */
@media (min-width: 992px) {
    .c-w-lg-25 {
        width: 25%;
    }

    .header .header__nav-item:hover .header__nav-item-link {
        color: #039EFE;
        background-color: #E1F2FE;
        border-bottom-color: #E1F2FE;
        text-decoration: none;
    }

    .header__nav .header__nav-dropdown {
        background-color: #E1F2FE;
        box-shadow: none;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
}
