@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
    url('../fonts/Verdana.woff') format('woff'),
    url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.woff2') format('woff2'),
    url('../fonts/Verdana-Bold.woff') format('woff'),
    url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}